%strong= "#{l(process.created_at.localtime, format: :short)}"
- if process.method_breadcrumbs
  = process.method_breadcrumbs.split(',').join(" &rarr; ").html_safe
- if process.current_group
  = "currently processing #{process.current_group}"
  - if process.current_group_size # Sometimes we're just counting up with no limit, so this may be missing.
    - pct = (process.current_group.to_f / process.current_group_size * 1000).floor / 10.0
    = "(#{pct}%) of #{process.current_group_size}"
  - if process.current_group_times && !process.current_group_times.empty? # Even if we're counting up, we may still have times!
    - times = process.current_group_times.split(',').map! { |t| t.to_f }
    = "(last five times: #{times[-5..-1].map { |t| t.round(1) }.join('s, ')}s)"
    - if times.size > 5
      - avg = (times.sum / process.current_group_times.size).round(2)
      = "(average of all times: #{avg}s)"
