%h1= @node.canonical
%ul
  %li
    %strong= t("nodes.fields.resource")
    = link_to(@node.resource.name, @node.resource)
  %li
    %strong= t("nodes.fields.resource_pk")
    = @node.resource_pk
  %li
    %strong= t("nodes.fields.page_id")
    = @node.page_id
  %li
    %strong= t("nodes.fields.created")
    = l(@node.created_at, format: :short)
    = t(:node_created_by_harvest,
      date: link_to(l(@node.harvest.created_at, format: :short), @node.harvest)).html_safe
  %li
    - if @node.parent
      %strong= t("nodes.fields.parent")
      = link_to(@node.parent.canonical, @node.parent)
    - else
      %strong= t(:node_root_node_notice)
  %li
    %strong= t("nodes.fields.name")
    %ul
      %li
        %strong= t("nodes.fields.name_verbatim")
        = @node.scientific_name.verbatim
      - if @node.scientific_name
        %li
          %strong= t("nodes.fields.name_scientific")
          = @node.scientific_name.normalized_name.string
        %li
          %strong= t("nodes.fields.name_canonical")
          = @node.scientific_name.normalized_name.canonical
        %li
          %strong= t("nodes.fields.name_parse_quality")
          = @node.scientific_name.parse_quality
        %li
          %strong= t("nodes.fields.name_taxonomic_status_verbatim")
          = @node.scientific_name.taxonomic_status_verbatim
        %li
          %strong= t("nodes.fields.name_taxonomic_status")
          = @node.scientific_name.taxonomic_status
      - else
        %li
          %strong= t(:node_name_not_parsed_notice)
      - if @node.vernaculars.published.empty?
        %li
          %strong= t(:node_vernaculars_empty_notice)
      - else
        %li
          = t("nodes.fields.vernaculars")
          %ul
            - @node.vernaculars.published.each do |vern|
              %li
                = vern.verbatim
                = "(#{vern.language_code_verbatim} &rarr; #{vern.language.code})".html_safe
      %li TODO: ...blah blah blah, lots more fields here, later.
    %li
      %strong= t("nodes.fields.name_rank_verbatim")
      = @node.rank_verbatim

%h2= t("nodes.headers.children")
- if @node.children.published.empty?
  = t("nodes.empty_fields.children")
- else
  %ul
    - @node.children.published.each do |child|
      %li= link_to(child.canonical, child)

%h2= t("nodes.headers.media")
- if @node.media.published.empty?
  = t("nodes.empty_fields.media")
- else
  %ul
    - @node.media.published.each do |medium|
      %li
        = link_to(medium.name_verbatim || truncate(medium.description_verbatim, 20), medium)
        = "(#{medium.format})"

%h2= t("nodes.headers.traits")
- if @node.traits.published.empty?
  = t("nodes.empty_fields.traits")
- else
  .ui.list
    - @node.traits.published.each do |trait|
      .item
        = trait.predicate_term.name
        = "(#{trait.predicate_term.uri})"
        &rarr;
        - if trait.object_node
          = link_to(trait.name_verbatim, trait.object_node)
        - elsif trait.object_term
          = trait.object_term.name
          = "(#{trait.object_term.uri})"
        - elsif trait.units_term
          = trait.measurement
          = trait.units_term.name
          = "(#{trait.units_term.uri})"
        - else
          = trait.literal
          (literal value)

%h2 TODO: articles, etc...
