%h1.ui.header
  = t("formats.show.header", type: @format.represents.titleize, resource: link_to(@format.resource.name, @format.resource)).html_safe
  .sub.header
    = link_to(t("edit"), edit_resource_format_path(@format, resource_id: @format.resource_id))
    •
    = link_to(t("delete"), @format, method: :delete, data: { confirm: t("are_you_sure") })

.ui.list
  - if @format.excel?
    .item
      %strong= "Sheet:"
      = @format.sheet
  - if @format.header_lines > 1
    .item
      %strong= "Header Lines:"
      = @format.header_lines
  - if @format.header_lines > 1
    .item
      %strong= "Data Begins on Line:"
      = @format.data_begins_on_line
  .item
    %strong= "File Type:"
    = @format.file_type
  .item
    %strong= "Get From:"
    = @format.get_from
  - if @format.file
    .item
      %strong= "Actual File Location:"
      = @format.file
  - if @format.csv?
    .item
      %strong= "Field Seperator:"
      = @format.field_sep.gsub("\t", "&#92;t (tab)").html_safe
    .item
      %strong= "Line Seperator:"
      = @format.line_sep.gsub("\r", "&#92;r (line return)").gsub("\n", "&#92;n (newline)").html_safe
  .item
    %strong= "UTF8 characters allowed:"
    = @format.utf8? ? "Yes." : "No."

%h2= "Fields (#{@format.fields.size})"
.ui.segment
  - if @format.fields.empty?
    .ui.header
      This format has no fields defined and it
      %strong cannot be harvested.
  - else
    %p
      .ui.relaxed.divided.list
        - @format.fields.each do |field|
          .item
            %i.large.columns.middle.aligned.icon
            .content
              .header
                = "#{field.position}."
                = link_to("#{field.expected_header}", edit_format_field_path(@format, field))
                \&rarr;
                - unless field.mapping.blank?
                  = field.mapping
                - unless field.submapping.blank?
                  = "(#{field.submapping})"
              .description
                = field.validation? ? field.validation : nil
                - unless field.special_handling.blank?
                  %strong Special Handling:
                  = field.special_handling
                = field.unique_in_format? ? "(must be unique)" : nil
                = field.can_be_empty? ? nil : "(must not be empty)"
- if user_signed_in?
  .ui.section
    .ui.button= link_to(t("formats.show.actions.add_field"), new_format_field_path(@format))
    .ui.button= link_to(t("formats.show.actions.return"), resource_path(@format.resource))
