%h1
  Harvest for
  = link_to(@harvest.resource.name, @harvest.resource)
  Created
  = l(@harvest.created_at.localtime, format: :short)
- if @harvest.failed_at && user_signed_in?
  .ui.button
    = link_to(t("harvests.actions.resume"), resource_resume_harvest_path(@harvest.resource))
- if policy(@harvest).destroy?
  .ui.negative.button
    = link_to(t("harvests.actions.destroy"), harvest_path(@harvest), method: :delete, style: 'color: white', data: { confirm: 'Are you SURE?' })

.ui.list
  - if @harvest.stage
    .item
      %strong Stage:
      -# NOTE: untranslted. It refers to a function name.
      = @harvest.stage
  - if @harvest.fetched_at
    .item
      %strong Fetched:
      = l(@harvest.fetched_at.localtime, format: :short)
  - if @harvest.validated_at
    .item
      %strong Validated:
      = l(@harvest.validated_at.localtime, format: :short)
  - if @harvest.deltas_created_at
    .item
      %strong Deltas Created
      = l(@harvest.deltas_created_at.localtime, format: :short)
  - if @harvest.linked_at
    .item
      %strong Linked:
      = l(@harvest.linked_at.localtime, format: :short)
  - if @harvest.units_normalized_at
    .item
      %strong Units Normalized:
      = l(@harvest.units_normalized_at.localtime, format: :short)
  - if @harvest.ancestry_built_at
    .item
      %strong Ancestry Built:
      = l(@harvest.ancestry_built_at.localtime, format: :short)
  - if @harvest.nodes_matched_at
    .item
      %strong Nodes Matched:
      = l(@harvest.nodes_matched_at.localtime, format: :short)
  - if @harvest.names_parsed_at
    .item
      %strong Names Parsed:
      = l(@harvest.names_parsed_at.localtime, format: :short)
  - if @harvest.consistency_checked_at
    .item
      %strong Consistency Checked:
      = l(@harvest.consistency_checked_at.localtime, format: :short)
  - if @harvest.stored_at
    .item
      %strong New Models Stored:
      = l(@harvest.stored_at.localtime, format: :short)
  - if @harvest.indexed_at
    .item
      %strong Indexed:
      = l(@harvest.indexed_at.localtime, format: :short)
  - if @harvest.failed_at
    .item
      %strong Failed:
      = l(@harvest.failed_at.localtime, format: :short)
  - if @harvest.completed_at
    .item
      %strong Completed:
      = l(@harvest.completed_at.localtime, format: :short)
  - if @harvest.time_in_minutes
    .item
      %strong Time to Harvest:
      = "(took #{@harvest.time_in_minutes} minutes)"

%h2 Expected File Format Definitions
- if @harvest.formats.empty?
  "This harvest has no file format definitions yet, and cannot be processed."
- else
  %ul
    - @harvest.formats.each do |fmt|
      %li
        %strong= "#{link_to(fmt.represents, fmt)}:".html_safe
        = fmt.file ? fmt.file : fmt.get_from
        - if fmt.excel?
          = ", sheet ##{fmt.sheet}"
        = "(#{fmt.fields.size} fields)"

%h2 Harvesting Log (most recent first)
- if @logs.empty?
  %p The logs for this harvest are empty.
- else
  = paginate(@logs)
  %ul
    - @logs.each do |log|
      %li
        %strong= log.category
        (
        = log.created_at.strftime('%H:%M:%S')
        )
        = log.message
        - if log.format
          = "(for #{log.format.represents})"
        - if log.line?
          = "(on line #{log.line})"
        - if log.backtrace?
          .ui.list
            - log.backtrace.split("\n").each do |line|
              .item= line
  = paginate(@logs)
