= simple_form_for @resource do |f|
  .fields
    = f.input :name, wrapper_html: { class: 'twelve wide' }
    = f.input :abbr, wrapper_html: { class: 'four wide' }
  = f.input :pk_url
  = f.input :opendata_url
  .fields
    = f.input :min_days_between_harvests, wrapper_html: { class: 'five wide' }
    = f.input :harvest_day_of_month, wrapper_html: { class: 'five wide' }
    = f.input :harvest_months_json, wrapper_html: { class: 'six wide' }
  .fields
    = f.input :auto_publish, wrapper_html: { class: 'four wide' }
    = f.input :not_trusted, wrapper_html: { class: 'four wide' }
    = f.input :might_have_duplicate_taxa, wrapper_html: { class: 'four wide' }
    = f.input :classification, wrapper_html: { class: 'four wide' }
  .fields
    = f.input :description, wrapper_html: { class: 'eight wide' }
    = f.input :notes, wrapper_html: { class: 'eight wide' }
  = f.button :submit
