%h1= @medium.safe_name
- unless @medium.base_url.blank?
  = image_tag(@medium.base_url + ".260x190.jpg")
.ui.list
  - %i[guid resource_pk unmodified_url name_verbatim name source_page_url source_url base_url rights_statement usage_statement sizes subclass w h crop_x_pct crop_y_pct crop_w_pct crop_h_pct owner description_verbatim description].each do |field|
    .item
      %strong= t("media.fields.#{field}")
      - if field.to_s =~ /_url$/
        = link_to(@medium.send(field), @medium.send(field))
      - else
        = @medium.send(field)
  - %i[resource node license language bibliographic_citation].each do |association_name|
    .item
      - association = @medium.send(association_name)
      - if association.nil?
        %strong= t("media.empty_fields.#{association_name}")
      - else
        %strong= t("media.fields.#{association_name}")
        = link_to(association.name, association)
  .item
    - if @medium.harvest.nil?
      %strong= t("media.empty_fields.harvest")
    - else
      %strong= t("media.fields.harvest")
      = link_to(@medium.harvest.created_at, @medium.harvest)
  .item
    - loc = @medium.location
    - if loc.nil?
      %strong= t("media.empty_fields.location")
    - else
      .ui.list
      - %i[lat_literal long_literal alt_literal locality lat long alt].each do |field|
        .item
          %strong= t("location.fields.#{field}")
          = loc.send(field)
  - %i[created_at updated_at downloaded_at].each do |field|
    .item
      %strong= t("media.fields.#{field}")
      = l(@medium.send(field), format: :short),
