%h1.ui.block.header
  = t("fields.create.header", url: resource_format_path(@field.format, resource_id: @field.format.resource_id), name: t("formats.create.represents.#{@field.format.represents}")).html_safe
= simple_form_for [@field.format, @field] do |f|
  = f.hidden_field :format_id, format_id: @field.format_id
  .fields
    = f.input :position, wrapper_html: { class: 'two wide' }
    .six.wide.field
      .label= t("fields.create.labels.validation")
      .ui.selection.dropdown
        = f.hidden_field :validation
        %i.dropdown.icon
        .default.text= t("fields.create.labels.validation")
        .menu
          - Field.validations.keys.sort.each do |name|
            .item{ data: { value: name }}= name
  .fields
    .six.wide.field
      .label= t("fields.create.labels.mapping")
      .ui.selection.dropdown
        = f.hidden_field :mapping
        %i.dropdown.icon
        .default.text= t("fields.create.labels.mapping")
        .menu
          - Field.mappings.keys.sort.each do |name|
            .item{ data: { value: name }}= name
    .five.wide.field
      .label= t("fields.create.labels.special_handling")
      .ui.selection.dropdown
        = f.hidden_field :special_handling
        %i.dropdown.icon
        .default.text= t("fields.create.labels.special_handling")
        .menu
          - Field.special_handlings.keys.sort.each do |name|
            .item{ data: { value: name }}= t("fields.create.special_handlings.#{name}")
    .five.wide.field
      .label= t("fields.create.labels.submapping")
      .ui.selection.dropdown
        = f.hidden_field :submapping
        %i.dropdown.icon
        .default.text= t("fields.create.labels.submapping")
        .menu
          .item{ data: { value: "publisher" }} publisher
          .item{ data: { value: "contributor" }} contributor
          .item{ data: { value: "creator" }} creator
          .item{ data: { value: "kingdom" }} kingdom
          .item{ data: { value: "phylum" }} phylum
          .item{ data: { value: "class" }} class
          .item{ data: { value: "order" }} order
          .item{ data: { value: "family" }} family
          .item{ data: { value: "genus" }} genus
      .ui.pointing.label.small= t("fields.create.labels.submapping_help")
  .fields
    = f.input :expected_header, wrapper_html: { class: 'eight wide' }
  .fields
    = f.input :unique_in_format, wrapper_html: { class: 'ui toggle checkbox four wide' }
    = f.input :can_be_empty, wrapper_html: { class: 'ui toggle checkbox four wide' }
  = f.button :submit
