!!!
%html
  %head
    = csrf_meta_tags
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}/
    %title
      - if defined?(@page_title)
        = @page_title
        \-
      = t("layout.title")
    - cdn = "https://cdnjs.cloudflare.com/ajax/libs"
    - sematnic_cdn = "#{cdn}/semantic-ui/2.2.13"
    = stylesheet_link_tag "#{sematnic_cdn}/semantic.min.css"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "#{sematnic_cdn}/semantic.min.js"
    = javascript_include_tag "#{cdn}/jquery-cookie/1.4.1/jquery.cookie.min.js"
    - if content_for?(:head)
      = yield :head
  %body
    .ui.container
      - if current_user
        .ui.menu
          .item
            = t('layout.logged_in_as', user: current_user.email.split('@')[0])
          .item
            = link_to(t('layout.sign_out'), destroy_user_session_path, method: :delete, class: 'ui button')
        -# NOTE: at the moment, you shouldn't ever get here:
        -# - else
          -# .item
          -#   = link_to(t('layout.sign_in'), new_user_session_path, class: 'ui button')
          -# .item
          -#   = link_to(t('layout.sign_up'), new_user_registration_path, class: 'ui primary button')

      .ui.inline.cookie.nag
        %span.title= t("nags.beta").html_safe
        %i.close.icon
      - flash.each do |key, value|
        .ui.message{ class: "flash-#{key}" }
          %i.close.icon
          %p= value.to_s.html_safe
      = content_for?(:body) ? yield(:body) : yield
