!!!
%html
  %head
    = csrf_meta_tags
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}/
    %title
      - if defined?(@page_title)
        = @page_title
        \-
      = t("layout.title")
    - cdn = "https://cdnjs.cloudflare.com/ajax/libs"
    - sematnic_cdn = "#{cdn}/semantic-ui/2.4.1" # previously: 2.2.13
    = stylesheet_link_tag "#{sematnic_cdn}/semantic.min.css"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js"
    = javascript_include_tag "#{sematnic_cdn}/semantic.min.js"
    = javascript_include_tag "main.js"
    = javascript_include_tag "#{cdn}/jquery-cookie/1.4.1/jquery.cookie.min.js"
    - if content_for?(:head)
      = yield :head
  %body
    .ui.container
      .ui.menu
        .item
          = link_to(t('layout.index_link'), resources_path)
        - if current_user
          .item
            = t('layout.logged_in_as', user: current_user.email.split('@')[0])
          .item
            = link_to(t('layout.sign_out'), destroy_user_session_path, method: :delete, class: 'ui button')
        - else
          .item
            = link_to(t('layout.sign_in'), new_user_session_path, class: 'ui button')
          .item
            = link_to(t('layout.sign_up'), new_user_registration_path, class: 'ui primary button')

      - flash.each do |key, value|
        - classes = ["flash-#{key}"]
        - classes << 'warning' if key == 'alert'
        .ui.message{ class: classes.join(' ') }
          %i.close.icon
          .header= key
          %p= value.to_s.html_safe
      = content_for?(:body) ? yield(:body) : yield
